selenium>=4.8.3
robotframework-seleniumlibrary
robotframework-archivelibrary
robotframework-sshlibrary
robotframework-httplibrary
robotframework-ftplibrary
requests>=2.29.0
robotframework-selenium2library==3.0.0
robotframework-databaselibrary
robotframework-extendedselenium2library
robotframework-requests
robotframework-jsonlibrary
deepdiff
dnspython
pyyaml
json5
