selenium==4.8.3
robotframework-seleniumlibrary==6.0.0
robotframework-archivelibrary==0.4.2
robotframework-sshlibrary==3.3.0
robotframework-httplibrary==0.4.2
robotframework-ftplibrary==1.9
requests==2.29.0
robotframework-selenium2library==3.0.0
robotframework-databaselibrary==1.2.4
robotframework-extendedselenium2library==0.9.2
robotframework-requests==0.5.0
deepdiff==6.3.0
dnspython==2.3.0
pyyaml>=4.2b1
json5==0.9.11
pytz
