robotframework==3.1.2
selenium==4.8.3
robotframework-seleniumlibrary
robotframework-archivelibrary
robotframework-sshlibrary
robotframework-httplibrary
robotframework-ftplibrary
requests==2.29.0
robotframework-selenium2library==3.0.0
robotframework-databaselibrary
robotframework-extendedselenium2library
robotframework-requests
deepdiff==6.3.0
dnspython==2.3.0
pyyaml>=4.2b1
json5==0.9.11
pytz
urllib3<2
opentelemetry-distro==0.40b0 # 0.40b0 is still compatible with Python 3.8
opentelemetry-instrumentation-requests==0.40b0 # 0.40b0 is still compatible with Python 3.8
opentelemetry-exporter-otlp==1.19.0 # 1.19.0 is still compatible with Python 3.8
