selenium
requests==2.29.0
robotframework-selenium2library
robotframework-databaselibrary
robotframework-extendedselenium2library
robotframework-requests
robotframework-sshlibrary
robotframework-ftplibrary
deepdiff
dnspython
robotframework-httplibrary
robotframework-archivelibrary
pyyaml>=4.2b1
json5
