name: Build Docker Images

on:
  push:
    branches:
      - master
      - main
  pull_request:
    branches:
      - master
      - main
  workflow_dispatch:

jobs:
  build-smoke-usecases-pythonsdk:
    name: Build smoke-usecases-pythonsdk
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image: [smoke-usecases-pythonsdk, smoke-usecases-robot-py3]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          tags: |
            type=sha

      - name: Build ${{ matrix.image }} docker image
        uses: docker/build-push-action@v5
        with:
          context: ./${{ matrix.image }}
          file: ./smoke-usecases-pythonsdk/docker/Dockerfile
          tags: ${{ matrix.image }}:${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: false
